################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hasona23.PhoneBook/.vs/hasona23.PhoneBook
