<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="fromMail" value="paul.saltzman.programming@gmail.com"/>
		<add key="fromPassword" value="wwsfzznzmyrbexwh" />
		<add key="smtpUrl" value="smtp.gmail.com" />
		<add key="port" value="587"/>
		<add key="twilioAccountSid" value="AC90ba9724d173306915336b18fbd9b3fd"/>
		<add key="twilioAuthToken" value="8fa68935d0fe78c827db02a64d952d23"/>
		<add key="toNumber" value="+1 573-415-0766"/>
	</appSettings>
</configuration>