<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ContactContext"
            connectionString="Server=sqlserver,1433;Database=ContactServer;User Id=SA;Password=Tu1167r?;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>