<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ContactContext"
            connectionString="Server=localhost,1433;Database=ContactServer;User Id=SA;Password=Tu1167r?;Encrypt=False;TrustServerCertificate=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>