<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <connectionStrings>
        <clear/>
        <add name="DefaultConnection"
             connectionString="Server=localhost,1433;Initial Catalog=Phonebook;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=true;"/>
    </connectionStrings>
</configuration>  