<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DbPath" value="Data Source=.\SQLEXPRESS; Initial Catalog=Phonebook; Integrated Security=true;Trusted_Connection=True;Encrypt=False"/>
		<add key="email" value=""/>
		<add key="emailPassword" value=""/>
	</appSettings>
</configuration>