<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Server=(localdb)\LocalDBDemo;Database=PhoneBookDb;Trusted_Connection=True;TrustServerCertificate=true;"/>
	</connectionStrings>
	<appSettings>
		<add  key="NumVerifyApiKey" value="access_key=f1735933f3b941c3c5ddc1f81b937afc"/>
		<add  key="NumberValidationHttpEndpoint" value="https://apilayer.net/api/validate?"/>
		<add  key="EmailVerifyApiKey" value="access_key=56adc5bbca4b780a4bae1a6269899c19"/>
		<add  key="ValidationHttpEndpoint" value="http://apilayer.net/api/check?"/>
	</appSettings>
</configuration>
