<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=LUCIANO\SQLExpress;Integrated Security=True;Initial Catalog=phoneBookApp;TrustServerCertificate=True" />
		<add key="DbFilePath" value ="C:\SQLData\" />
		<add key="DbName" value="phoneBookApp" />
	</appSettings>
</configuration>