<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Server=(localdb)\mssqllocaldb;Database=PhoneBookDb;Trusted_Connection=True;" />
		<add key="DbFilePath" value ="C:\Users\Hugo\PhoneBookDb.mdf" />
		<add key="DbName" value="PhoneBookDb" />
</appSettings>
</configuration>